// secondary-zones.scss
// -----------------------------------------------------------------

.secondary-zones {
  background-image: url('assets/img/header-bg.png');
  background-position: 50% 0;
  .zone {
    //width: 50%;
    //float: left;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    h3 {
      font-size: 24px;
      margin-top: 0;
      vertical-align: middle;
      margin-bottom: 30px;
      &:before {
        content: '';
        background-size: cover;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .zone-contact {
    //border-right: 1px solid #fff;
    //padding-right: 30px;
    //margin-right: -1px;
    h3 {
      &:before {
        background-image: url('assets/img/icon-contact-white.svg');
        width: 32px;
        height: 30px;
      }
    }
    .btn-outline {
      display: block;
      width: 350px;
      margin: 0 auto;
      padding: 7px 12px;
      border-radius: 20px;
    }
  }
  .zone-signup {
    padding-left: 30px;
    border-left: 1px solid #fff;
    h3 {
      &:before {
        background-image: url('assets/img/icon-mailing-list-white.svg');
        width: 32px;
        height: 32px;
      }
    }
    .signup-form {
      position: relative;
      input {
        border-color: transparent;
        border-radius: 20px;
        padding: 8px 40px 8px 12px;
        width: 100%;
        font-size: 14px;
      }
      button {
        background: transparent;
        padding: 0;
        border: 0;
        box-shadow: none;
        position: absolute;
        right: 10px;
        top: 8px;
        transition: background 150ms, color 150ms;
        border: 2px solid $link-color;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        .arrow {
          display: inline-block;
          background-image: url('assets/img/icon-arrow-r-blue.svg');
          height: 9px;
          width: 9px;
          background-size: 100%;
          background-repeat: no-repeat;
          position: relative;
          top: -4px;
        }
        &:hover {
          background: $link-color;
          color: #fff;
          .arrow {
            background-image: url('assets/img/icon-arrow-r-white.svg');
          }
        }
      }
    }
    p {
      font-size: 13px;
      font-weight: 400;
      text-align: left;
      line-height: 1.5em;
      margin: 0;
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .secondary-zones {
    .zone-signup {
      .signup-form {
        margin-bottom: 15px;
      }
      p {
        text-align: center;
      }
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .secondary-zones {
    .zone-signup {
      .signup-form {
        margin-bottom: 15px;
      }
      p {
        text-align: center;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .secondary-zones {
    .zone {
      float: none;
      width: auto;
      margin: 0 -30px;
      padding: 40px 30px;
    }
    .zone-contact {
      //padding-right: 30px;
      border: 0;
      //border-bottom: 1px solid #fff;
    }
    .zone-signup {
      padding-left: 30px;
      border: 0;
      .signup-form {
        margin-bottom: 30px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        text-align: center;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .secondary-zones {
    .zone {
      float: none;
      width: auto;
      margin: 0 -15px;
      padding: 40px 15px;
    }
    .zone-contact {
      .btn-outline {
        width: 100%;
      }
    }
    .zone-signup {
      .signup-form {
        width: 100%;
      }
    }
  }
}
