// site-header.scss
// -----------------------------------------------------------------

.site-header {
  background-image: url('assets/img/header-bg.png');
  background-position: 50% 0;
  padding: 60px 0;
  @include clearfix
  .tabzilla-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    #tabzilla a {
      z-index: 0 !important;
    }
  }
  &:before {
    content: '';
    height: 3px;
    width: 100%;
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
  }
  .search-toggle {
    border: 0;
    background: 0;
    box-shadow: none;
    padding: 11.5px 20px;
    margin: 0;
    float: right;
  }
  .search-form {
    position: absolute;
    right: 0;
    top: 10px;
    visibility: hidden;
    .search-cancel {
      background: transparent;
      border: 0;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      position: absolute;
      right: 5px;
      top: 2px;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
      img {
        width: 18px;
      }
    }
    form {
      width: 0;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s linear 100ms, width 100ms linear, opacity 100ms linear;
      .search-input {
        background: darken($brand-primary, 15%);
        border: 0;
        box-shadow: none;
        border-radius: 100px;
        font-size: 16px;
        color: #fff;
        width: 100%;
        padding: 4px 12px;
        &:focus {
          outline: 0;
        }
        &::-webkit-input-placeholder {
           color: rgba(255,255,255,.75);
        }
        &:-moz-placeholder {
           color: rgba(255,255,255,.75);  
        }
        &::-moz-placeholder {
           color: rgba(255,255,255,.75);  
        }
        &:-ms-input-placeholder {  
           color: rgba(255,255,255,.75);  
        }
      }
      .search-submit {
        display: none;
      }
    }
    &.is--visible {
      visibility: visible;
      form {
        //width: 300px;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }
  .navbar-collapse {
    position: relative;
  }
  .navbar {
    margin: 0;
    transition: background 50ms;
    border-radius: 0;
  }
  .navbar-brand {
    font-family: $font-family-branding;
    font-weight: 500;
    font-size: 40px;
    padding: 0 0 0 15px;
    line-height: 50px;
    display: inline-block;
    position: relative;
    z-index: 3;
  }
  .navbar-nav {
    li {
      a {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        span {
          border-bottom: 1px solid transparent;
          transition: border-color 150ms;
        }
        &:hover {
          span {
            border-bottom-color: #fff;
          }
        }
      }
      &.open {
        & > a {
          background: #fff !important;
          color: $link-hover-color !important;
          border-radius: 4px 4px 0 0;
        }
      }
    }
    .current-menu-item {
      & > a {
        span {
          border-bottom-color: #fff;
        }
      }
    }
    .dropdown-menu {
      border: 0;
      margin-top: -1px;
      border-radius: 4px 0 4px 4px;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
      li {
        &.current-menu-item {
          a {
            text-decoration: none;
          }
        }
        a {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
    }
  }
  .navbar-header {
    .navbar-toggle {
      border: 0;
      padding: 0;
      border-radius: 0;
      .icon-bar {
        height: 4px;
        width: 40px;
        border-radius: 3px;
        & + .icon-bar {
          margin-top: 6px;
        }
      }
      &:hover {
        background: transparent;
      }
    }
  }
}

.site-header {
  .navbar.shrink {
    background: darken($brand-primary, 15%);
    .navbar-brand {
      font-size: 21px;
      position: relative;
      top: 2px;
    }
  }
  .navbar.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .site-header {
    .tabzilla-wrapper {
      margin-left: -505px;
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .site-header {
    .tabzilla-wrapper {
      margin-left: -375px;
    }
    .navbar-header {
      .navbar-toggle {
        margin-top: 12px;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .site-header {
    padding: 15px 0;
    &:before {
      display: none;
    }
    .navbar-header {
      .navbar-toggle {
        margin-top: 12px;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .site-header {
    .navbar {
      .navbar-brand {
        font-size: 24px;
      }
    }
    .navbar-header {
      .navbar-toggle {
        padding: 9px 10px;
        margin-top: 8px;
        .icon-bar {
          height: 2px;
          width: 22px;
          & + .icon-bar {
            margin-top: 4px;
          }
        }
      }
    }
    .navbar.shrink {
      .navbar-brand {
        font-size: 24px;
      }
    }
  }

}